html {
  width: 100%;
  height: 100%;
}

body { 
  width: 100%;
  height: 100%;
  text-decoration: none; 
  color: black;
  font-family: Verdana; 
  font-size: 10pt; 
  font-weight: normal; 
  background-color: #b0b0b0;
  background-image: url(../img/bg-gradient.png);
  background-repeat: repeat-x;
  margin: 0;
}

input {
  border: #000000 solid 1px;
  font-size: 12px;
  color: #000000;
}

h2 {
  font-size: 12pt;
}

#parents {
  background-color: #b0b0b0;
  padding-left: 10;
  padding-right: 10;
  font-size: 8pt; 
  border-top:1px solid #000000;
  border-left:1px solid #000000;
  border-right:1px solid #888888;
  border-bottom:1px solid #888888;
}

#parents a:link {
  color: #222222;
  text-decoration: none;
  font-weight: bold;
}

#jobs, #workers, #logs, #activities {
  border-top:1px solid #888888;
  border-left:1px solid #888888;
  border-right:1px solid #000000;
  border-bottom:1px solid #000000;
}

#workers, #logs, #activities {
  top: 95px;
  bottom: 58px;
}

#affinities {
  overflow: auto;
  border-top:1px solid #888888;
  border-left:1px solid #888888;
  border-right:1px solid #000000;
  border-bottom:1px solid #000000;
}

#logs {
  color: White;
  bottom: 10px;
}

#workersTab {
}

#jobsTable, #workersTable, #activitiesTable {
  width:100%;
  border-collapse:  collapse;
  text-align: right;
}

#affinitiesTable {
  border-collapse:  collapse;
  text-align: right;
}

#jobsTable td, #workersTable td, #activitiesTable td {
  border-right:1px solid black;
}

#affinitiesTable td {
  font-size: 8pt; 
  text-align: center;
  color: #FFFFFF;
  border-right:1px solid black;
}

#jobsTable td a:link, #workersTable td a:link, #activitiesTable td a:link {
  color: #DDDDDD;
}

#jobsTable th, #workersTable th, #activitiesTable th, #affinitiesTable th {
  text-align: center;
  border-right:1px solid black;
}

#main {
  height: 100%;
  overflow: scroll;
  border-width:1;
  border-style:solid;
  border-color:Black;
  background: #444444;
}

#top {
  justify-content: space-between;
  align-items: center;
}

#header, #footer {
}

#maintitle {
}

#maintitle a {
  color: #444444;
  font-size: xx-large;
  font-weight: bolder;
  display: inline;
  text-decoration: none;
}

#subtitle {
  color: #444444;
}

#subtitle a {
  color: #444444;
  font-weight: bold;
  text-decoration: none;
  display: inline;
}

#tabs {
}

#jobtools, #workertools, #logtools, #activitiestools, #affinitiestools {
  color: #dddddd;
  cursor: pointer;
}

#filterJobsAffinity {
  width: 70px;
  border: 0;
}

#filterJobsTitle {
  width: 70px;
  border: 0;
}

#toolbuttons {
  height: 100%;
  text-align:center;
}

#b02:hover, #b03:hover, #b04:hover, #b05:hover, #b06:hover, #b07:hover, #b08:hover, #b09:hover, #b10:hover, #b11:hover, #b12:hover, #b13:hover {
  border-top: solid 1px #777777;
  border-left: solid 1px #777777;
  border-right: solid 1px #222222;
  border-bottom: solid 1px #222222;
}

.entry, .entry0, .entry1, .title, .entry0Selected, .entry1Selected {
  font-size: 8pt; 
  color: #DDDDDD;
}

.title {
  background-color: #666666;
  color: #EEEEEE;
}

.title a:link {
  color: #EEEEEE;
  text-decoration: none;
}

.entry0 {
  background-color: #222222;
}

.entry1 {
  background-color: #303030;
}

.entry0Selected {
  background-color: #444466;
}

.entry1Selected {
  background-color: #555577;
}

.FINISHED, .PAUSED, .ERROR, .TIMEOUT, .WAITING, .WORKING, .PENDING, .STARTING, .TERMINATED, .ACTIVEtrue, .ACTIVEfalse, .ACTIVE1, .ACTIVE0 {
  text-align: center;
  color: White;
}

.FINISHED, .TERMINATED {
  background-color: #009000;
}

.PAUSED {
  background-color: #000090;
}

.PENDING, .STARTING {
  background-color: #303060;
}

.ERROR, .TIMEOUT {
  background-color: #900000;
}

.WORKING {
  background-color: #009090;
}

.ACTIVEtrue, .ACTIVE1 {
  background-color: #009000;
}

.ACTIVEfalse, .ACTIVE0 {
  background-color: #900000;
}

.logs {
  font-size: 8pt; 
}

.button {
  display: inline;
  padding: 4px;
  border: solid 1px #444444;
}

.button img {
  position: relative;
  top: 3;
}

.buttonSep {
  display: inline;
  width: 10px;
}

.toolbutton {
  width: 100%;
  height: 40;
  font-weight: bold;
  cursor: pointer;
}

.headerCell {
  cursor: pointer;
}

.loadbar {
  background: #009000;
}

.loadlabel {
  width:100%;
  text-align: center;
  position: absolute;
  top: 1;
}

.load {
  width:100%;
  position: relative;
}

.membar {
  height: 16;
  background: #009000;
}

.memlabel {
  width:100%;
  text-align: center;
  position: absolute;
  top: 1;
}

.mem {
  width:100%;
  position: relative;
}

.lprogressbar {
  height: 16;
  background: #009000;
}

.gprogressbar {
  height: 16;
  background: #007000;
}

.progresslabel {
  width:100%;
  text-align: center;
  position: absolute;
  top: 1;
}

.progress {
  width:100%;
  position: relative;
}

.progress-complete-bar {
  display: block;
  height: 15px;
  line-height:15px;
  text-align: center;
  margin: 3px auto 2px;
}

.worker_affinities {

  white-space: pre;

}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.activetab, .unactivetab {
  flex: 1 1 auto;
  margin: .1rem;
  text-align: center;
  background: #444444;
  color: White;
  border-top-style: solid;
  border-top-color: Black;
  border-top-width: 1;
  border-left-style: solid;
  border-left-color: Black;
  border-left-width: 1;
  border-right-style: solid;
  border-right-color: Black;
  border-right-width: 1;
  cursor: pointer;
}

.unactivetab {
  background: #333333;
  border-bottom-style: solid;
  border-bottom-color: Black;
  border-bottom-width: 1;
}

.refreshtools {
}

.refreshbutton, .refreshing {
  background: #DDDDDD;
  cursor: pointer;
  border: solid 1px Black;
  font-weight: bold;
}

.refreshing {
  background: #00F000;
}

#jobtools {
  /*position: fixed;*/
  /*bottom: 0;*/
}

#jobs .slick-viewport {
}

.slick-pager {
  border: unset;
}

#jobs {
}

#jobs .slick-headerrow-columns {
  height: 100%;
}

#jobs .slick-headerrow-column.ui-state-default {
  padding: unset;
  height: 4rem;
}

.slick-headerrow {
  height: 4rem;
}

.slick-headerrow input {
  background-color: white;
  color: black;
}

.sql-input {
  background-color: white;
  color: black;
  width: inherit;
}

#toolstable {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

#job-editor-fields {
  display: none;
}

#job-editor-fields input {
  overflow: hidden;
}
