/***
 * Main coalition stylesheet
 **/

/*** page style ***/
html, body {
    font-size: 90%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    text-decoration: none;
    color: ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    background-color: #b0b0b0;
}

#content {
  width: inherit;
  overflow: hidden;
}

#main {
  height: 0;
  width: 100%;
  background-color: #444444;
}

/*** tables ***/
table {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    text-align: left;
}

tr {
    display: flex;
    flex-direction: row;
    line-height: 1.6rem;
}

thead, tfoot {
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #666666;
    margin-right: 1rem;
    z-index: 1;
}

thead label {
    cursor: pointer;
}

thead>tr {
  min-height: inherit;
}

tr>th {
  display: flex;
  flex-direction: column;
  min-height: inherit;
  padding: 0;
}

tr>th .flex-row {
    flex-wrap: nowrap;
}

tbody {
    height: 100%;
    overflow-y: scroll;
    word-break: keep-all;
}

tbody tr {
    justify-content: flex-start;
}

th, td {
    border-right: 1px dotted #444;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
}

td a {
  color: #DDDDDD;
}

.resizable {
  width: 5px;
  flex-shrink: 0;
  cursor: col-resize;
  z-index: 1;
}

.resizable:hover {
  background: gray;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-grow {
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.entry, .entry0, .entry1, .title, .entry0Selected, .entry1Selected {
    font-size: 0.9rem;
    color: #DDDDDD;
}

.title a:link {
    color: #EEEEEE;
    text-decoration: none;
}

.entry0 { background-color: #222222;
}

.entry1 {
    background-color: #303030;
}

.entry0Selected {
    background-color: #444466;
}

.entry1Selected {
    background-color: #555577;
}

.FINISHED, .PAUSED, .ERROR, .TIMEOUT, .WAITING, .WORKING, .PENDING, .STARTING, .TERMINATED, .ACTIVEtrue, .ACTIVEfalse, .ACTIVE1, .ACTIVE0 {
    text-align: center;
    color: White;
}

.FINISHED, .TERMINATED {
    background-color: #009000;
}

.PAUSED {
    background-color: #000090;
}

.PENDING, .STARTING {
    background-color: #303060;
}

.ERROR, .TIMEOUT {
    background-color: #900000;
}

.WORKING {
    background-color: #009090;
}

.ACTIVEtrue, .active1 {
    background-color: #009000;
}

.ACTIVEfalse, .active0 {
    background-color: #900000;
}

#dragged {
}

tr>th .flex-row.draggable {
  flex-grow: 1;
  overflow: hidden;
}

img,
.dropzone {
    -webkit-user-drag: none;
}

.side-right,
.side-left {
    width:  50%;
}

div[draggable]:hover {
  background: darkslategray;
}

table .dropzone.side-left {
    align-items: center;
}

table .dropzone.side-right {
    justify-content: flex-end;
}

.dropzone-hover {
  background: orange;
}

.not-displayed {
  display: none;
}

/*** jobs table proportions ***/
/* id */
#jobsTable th:nth-child(1), #jobsTable td:nth-child(1) {
    width: 10rem;
}

/* title */
#jobsTable th:nth-child(2), #jobsTable td:nth-child(2) {
    width: 20rem;
}

/* url */
#jobsTable th:nth-child(3), #jobsTable td:nth-child(3) {
    width: 5rem;
}

/* user */
#jobsTable th:nth-child(4), #jobsTable td:nth-child(4) {
    width: 12rem;
}

/* state */
#jobsTable th:nth-child(5), #jobsTable td:nth-child(5) {
    width: 8rem;
}

/* priority */
#jobsTable th:nth-child(6), #jobsTable td:nth-child(6) {
    width: 5rem;
}

/* ok */
#jobsTable th:nth-child(7), #jobsTable td:nth-child(7) {
    width: 4rem;
}

/* wkr */
#jobsTable th:nth-child(8), #jobsTable td:nth-child(8) {
    width: 4rem;
}

/* err */
#jobsTable th:nth-child(9), #jobsTable td:nth-child(9) {
    width: 4rem;
}

/* total */
#jobsTable th:nth-child(10), #jobsTable td:nth-child(10) {
    width: 4rem;
}

/* progress */
#jobsTable th:nth-child(11), #jobsTable td:nth-child(11) {
    width: 12rem;
}

/* affinity */
#jobsTable th:nth-child(12), #jobsTable td:nth-child(12) {
    width: 12rem;
}

/* timeout */
#jobsTable th:nth-child(13), #jobsTable td:nth-child(13) {
    width: 3rem;
}

/* worker */
#jobsTable th:nth-child(14), #jobsTable td:nth-child(14) {
    width: 12rem;
}

/* start_time */
#jobsTable th:nth-child(15), #jobsTable td:nth-child(15) {
    width: 5rem;
}

/* duration */
#jobsTable th:nth-child(16), #jobsTable td:nth-child(16) {
    width: 12rem;
}

/* run */
#jobsTable th:nth-child(17), #jobsTable td:nth-child(17) {
    width: 4rem;
}

/* command */
#jobsTable th:nth-child(18), #jobsTable td:nth-child(18) {
    width: 30rem;
}

/* dir */
#jobsTable th:nth-child(19), #jobsTable td:nth-child(19) {
    width: 12rem;
}

/* dependencies */
#jobsTable th:nth-child(20), #jobsTable td:nth-child(20) {
    width: 12rem;
}

/*** workers table proportions ***/
/* name */
#workersTable th:nth-child(1), #workersTable td:nth-child(1) {
    width: 20rem;
}

/* active */
#workersTable th:nth-child(2), #workersTable td:nth-child(2) {
    width: 4rem;
    text-align: center;
}

/* state */
#workersTable th:nth-child(3), #workersTable td:nth-child(3) {
    width: 8rem;
}

/* affinity */
#workersTable th:nth-child(4), #workersTable td:nth-child(4) {
    width: 10rem;
}

/* ping_time */
#workersTable th:nth-child(5), #workersTable td:nth-child(5) {
    width: 10rem;
}

/* cpu */
#workersTable th:nth-child(6), #workersTable td:nth-child(6) {
    width: 11rem;
}

/* memory */
#workersTable th:nth-child(7), #workersTable td:nth-child(7) {
    width: 11rem;
}

/* last_jobs */
#workersTable th:nth-child(8), #workersTable td:nth-child(8) {
    width: 5rem;
}

/* finished */
#workersTable th:nth-child(9), #workersTable td:nth-child(9) {
    width: 5rem;
}

/* error */
#workersTable th:nth-child(10), #workersTable td:nth-child(10) {
    width: 5rem;
}

/* ip */
#workersTable th:nth-child(11), #workersTable td:nth-child(11) {
    width: 11rem;
}

/*** activities table proportions ***/
/* start */
#activitiesTable th:nth-child(1), #activitiesTable td:nth-child(1) {
    width: 12%;
}

/* job_id */
#activitiesTable th:nth-child(2), #activitiesTable td:nth-child(2) {
    width: 12%;
}

/* jobs_title */
#activitiesTable th:nth-child(3), #activitiesTable td:nth-child(3) {
    width: 12%;
}

/* state */
#activitiesTable th:nth-child(4), #activitiesTable td:nth-child(4) {
    width: 12%;
}

/* worker */
#activitiesTable th:nth-child(5), #activitiesTable td:nth-child(5) {
    width: 12%;
}

/* duration */
#activitiesTable th:nth-child(6), #activitiesTable td:nth-child(6) {
    width: 12%;
}

/*** affinities table proportions ***/
/* id */
#affinitiesTable th:nth-child(1), #affinitiesTable td:nth-child(1) {
    width: 5%;
}

/* name */
#affinitiesTable th:nth-child(2), #affinitiesTable td:nth-child(2) {
    width: 25%;
}

/*** title **/
#header {
  justify-content: space-between;
}

#header>.flex-row:first-child {
  justify-content: space-between;
}

#header > div:nth-child(1) > div.flex-column.flex-grow {
  justify-content: flex-start;
}

#header > div:nth-child(1) > div.flex-column.flex-grow > div {
	justify-content: space-between;
}

#maintitle {
    justify-content: flex-start;
    text-transform: lowercase;
}

#maintitle a {
    color: #444444;
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
}

#subtitle {
    color: #444444;
    font-size: small;
    font-style: italic;
}

#subtitle a {
    color: #444444;
    font-weight: bold;
    text-decoration: none;
}

#subtitle p {
    margin: 0.1rem;
}

#header > div:nth-child(1) > div:nth-child(2) {
  flex-grow: 1;
}

#header > div:nth-child(1) > div:nth-child(2) > div {
  justify-content: flex-end;
}

/*** menu ***/
#menu-button {
  padding: 0.5rem;
  font-size: 2rem;
  color: black;
}

#menu-button:hover {
  cursor: pointer;
  color: lightgray;
}

#menu-content {
    text-align: right;
}

#menu-content label {
  display: flex;
  justify-content: flex-end;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #666666;
  border-left: 1px solid #999;
}

#menu input {
  width: auto;
}

/*** tools bar ***/
.button select {
    width: auto;
}

/*** node parent row ***/
#parents {
    background-color: #b0b0b0;
    justify-content: flex-start;
    color: #444;
    flex-shrink: 0;
}

#parents a:link {
    color: #222222;
    text-decoration: none;
    font-weight: bold;
    margin: 0 0.5rem;
}

/*** tabs ***/
#tabs {
    justify-content: flex-end;
}

#tabs > .flex-row {
    justify-content: center;
}

#tabs li {
    list-style: none;
    text-decoration: none;
}

#tabs li a {
    text-decoration: none;
}

#tabs button {
    margin: 0 0.3rem;
    border-radius: 0.4rem 0.4rem 0 0;
    border-top: 1px solid #777777;
    border-right: 1px solid #222222;
    border-bottom: 1px solid transparent;
    border-left: 1px solid #777777;
    background-color: #333;
}

#tabs button:hover {
    border-top: 1px solid #777777;
    border-right: 1px solid #222222;
    border-bottom: 1px solid transparent;
    border-left: 1px solid #777777;
    background-color: #666;
    color: white;
}

#tabs button.activetab {
    background-color: #444;
}

#jobs,
#workers,
#activities,
#logs,
#affinities {
    display: flex;
    flex-grow: 1;
    overflow-x: scroll;
}

/*** table configurator ***/
#config-jobs-table {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    background: white;
    color: black;
    opacity: 0.8;
}

/*** jobs table ***/
#jobsTable thead {
    /*overflow-y: scroll;*/
    margin-right: 0;
}

#jobsTable thead>tr>th>.flex-column {
    justify-content: flex-start;
    flex-grow: 1;
}

#jobsTable thead>tr>th>.flex-column>.flex-row {
    justify-content: flex-start;
}

/*** workers table ***/
#workersTable {
  flex-grow: 1;
}

/*** activities table ***/
#activitiesTable {
  flex-grow: 1;
}

/*** affinities ***/
#affinitiesTable {
    border-collapse: collapse;
    text-align: right;
    flex-grow: 1;
}

#affinitiesTable td {
    font-size: 0.9rem;
    text-align: center;
    color: #FFFFFF;
}

/*** tools ***/
#jobtools,
#workertools,
#logtools,
#activitiestools,
#affinitiestools,
#workertoolstable,
#affinitytoolstable {
    justify-content: flex-end;
    flex-shrink: 0;
}

#logout-button {
  position: relative;
  left: -100%;
}

#logout-button input {
  color: white;
}

/*** tools table ***/
#jobtoolstable .flex-column {
    flex-grow: 1;
    justify-content: flex-end;
}

#jobtoolstable .flex-column:last-of-type {
    flex-grow: 0;
}

#jobtoolstable>div:first-child {
  justify-content: flex-end;
}

#jobtoolstable input {
  width: 75%;
}

.width-50pc {
  width: 50%;
}

/*** elements ***/
.button {
    color: ghostwhite;
    margin: 0.1rem 0.2rem;
    max-height: 1.7rem;
    background-color: #444;
    cursor: pointer;
    white-space: nowrap;
    border-top: 1px solid #777777;
    border-right: 1px solid #222222;
    border-bottom: 1px solid #222222;
    border-left: 1px solid #777777;
    box-shadow: 1px 1px 1px #333;
    height: 1.9rem;
    margin: 4px 6px;
}

.button img {
    max-height: 1rem;
    margin: 0 0.3rem;
    vertical-align: middle;
}

button:hover {
    background-color: #666;
    color: white;
}

input,
select,
textarea,
input,
tbody input {
    cursor: pointer;
    width: 100%;
    border: 0;
    color: white;
    background-color: #222;
    line-height: 1.6rem;
}

input:hover,
select:hover,
textarea:hover,
tbody input:hover {
    background-color: #333;
}

.flex-row label {
    flex-wrap: nowrap;
    margin: 0.1rem 0.1rem;
    justify-content: flex-end;
    text-transform: capitalize;
}

legend {
  font-style: oblique;
  margin: 0 0.2rem;
}

label span {
    margin: 0 0.5rem;
}

.value-modified {
    background-color: greenyellow;
    color: darkmagenta
}

.value-modified:hover{
    background-color: yellow;
}

.value-different {
    background-color: orange;
    color: darkmagenta
}

.value-different:hover {
    background-color: yellow;
}

input[type="range"] {
  margin: 0;
}

.ttr1 {
    width: 10%;
    font-size: small;
    color: White;
    text-align: right;
}

.ttr2 {
    width: 60%;
}

.ttr3 {
    width: 10%;
    font-size: small;
    color: White;
    text-align: right;
}

.loadbar {
    background-color: #009000;
}

.loadlabel {
    text-align: center;
}

.membar {
    height: inherit;
    background-color: #009000;
}

.memlabel {
    height: inherit;
    text-align: center;
    position: relative;
    top: -100%;
}

.mem {
    height: 100%;
}

.progress {
    height: inherit;
}

.lprogressbar {
    height: inherit;
    background-color: #009000;
}

.gprogressbar {
    background-color: #007000;
}

.progresslabel {
    height: inherit;
    text-align: center;
    position: relative;
    top: -100%;
}

.worker_affinities {
    white-space: pre;
    line-height: 1.2rem;
}

.tab-content {
    width: inherit;
    height: 100%;
}

.tab-content>.flex-column {
  overflow: hidden;
}

.tab-content>.flex-column:last-child {
  justify-content: flex-start;
  border-left: 1px solid #999;
}

.sql-search-field {
    display: flex;
    flex-direction: row;
}

detail {
  flex-shrink: 0;
  /*overflow-x: scroll;*/
}

detail .flex-row {
  justify-content: flex-end;
}

#refreshbutton {
  max-height: unset;
  height: 2.5rem;
  border: 1px solid lightgray;
}

#auto-refresh-button {
  color: black;
}

#auto-refresh-button input {
  width: auto;
  vertical-align: middle;
}
