html, body {
    font-size: 90%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body { 
    text-decoration: none; 
    color: ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; 
    background-color: #b0b0b0;
}

input, select, textarea {
    width: 100%;
    border: 1px solid #000;
    font-size: 0.7rem;
    background-color: #555;
    color: ghostwhite;
}

.button select {
    width: auto;
}

#parents {
    left: 1rem;
    background-color: #b0b0b0;
    padding: 0 1rem;
    justify-content: flex-start;
    color: #444;
    font-size: 0.9rem;
    border-top:1px solid #000000;
    border-left:1px solid #000000;
    border-right:1px solid #888888;
    border-bottom:1px solid #888888;
}

#parents a:link {
    color: #222222;
    text-decoration: none;
    font-weight: bold;
    margin: 0 0.5rem;
}

#jobs, #workers, #activities, #logs, #affinities
{
    flex-grow: 1;
    height: 1rem;
    /*border-top:1px solid #888888;*/
    /*border-left:1px solid #888888;*/
    /*border-right:1px solid #000000;*/
    /*border-bottom:1px solid #000000;*/
}

#workers, #logs, #activities
{
    /*top: 95px;*/
    /*bottom: 58px;*/
}

#affinities
{
    /*position: fixed;*/
    /*left: 10px;*/
    /*right: 10px;*/
    /*top: 65px;*/
    /*bottom: 58px;*/
    /*overflow: auto;*/
    /*border-top:1px solid #888888;*/
    /*border-left:1px solid #888888;*/
    /*border-right:1px solid #000000;*/
    /*border-bottom:1px solid #000000;*/
}

#logs {
    color: white;
}

#jobsTable,
#workersTable,
#activitiesTable,
#affinitiesTable
{
    width:100%;
    border-collapse: collapse;
    text-align: left;
}

#jobsTable td a:link, #workersTable td a:link, #activitiesTable td a:link {
    color: #DDDDDD;
}

#jobsTable thead {
    min-height: 4rem;
}

#jobsTable thead label {
    cursor: pointer;
}

#jobsTable thead .headerCell .flex-row {
    justify-content: center;
}

table {
    height: 100%;
    display: flex;
    flex-direction: column;
}

th, tr {
    display: flex;
    flex-direction: row;
}

th {
    border-right: 1px dotted gray;
}

thead {
    text-align: center;
    overflow-y: scroll;
}

tfoot {
    overflow-y: scroll;
    min-height: 1.5rem;
}

tbody {
    height: 100%;
    overflow-y: scroll;
    word-break: break-all;
}

tbody tr {
    /*max-height: 2rem;*/
}

tbody td {
    border-right: 1px dotted #444;
    height: 1.2rem;
}


/* id */
#jobsTable th:nth-child(1), #jobsTable td:nth-child(1) {
    width: 2%;
}

/* title */
#jobsTable th:nth-child(2), #jobsTable td:nth-child(2) {
    width: 10%;
}

/* url */
#jobsTable th:nth-child(3), #jobsTable td:nth-child(3) {
    width: 4%;
}

/* user */
#jobsTable th:nth-child(4), #jobsTable td:nth-child(4) {
    width: 5%;
}

/* state */

#jobsTable th:nth-child(5), #jobsTable td:nth-child(5) {
    width: 6%;
}

/* priority */
#jobsTable th:nth-child(6), #jobsTable td:nth-child(6) {
    width: 4%;
}

/* ok */
#jobsTable th:nth-child(7), #jobsTable td:nth-child(7) {
    width: 2%;
}

/* wkr */
#jobsTable th:nth-child(8), #jobsTable td:nth-child(8) {
    width: 2%;
}

/* err */
#jobsTable th:nth-child(9), #jobsTable td:nth-child(9) {
    width: 3%;
}

/* total */
#jobsTable th:nth-child(10), #jobsTable td:nth-child(10) {
    width: 3%;
}

/* progress */
#jobsTable th:nth-child(11), #jobsTable td:nth-child(11) {
    width: 5%;
}

/* affinity */
#jobsTable th:nth-child(12), #jobsTable td:nth-child(12) {
    width: 6%;
}

/* timeout */
#jobsTable th:nth-child(13), #jobsTable td:nth-child(13) {
    width: 4%;
}

/* worker */
#jobsTable th:nth-child(14), #jobsTable td:nth-child(14) {
    width: 7%;
}

/* start_time */
#jobsTable th:nth-child(15), #jobsTable td:nth-child(15) {
    width: 6%;
}

/* duration */
#jobsTable th:nth-child(16), #jobsTable td:nth-child(16) {
    width: 5%;
}

/* run */
#jobsTable th:nth-child(17), #jobsTable td:nth-child(17) {
    width: 2%;
}

/* command */
#jobsTable th:nth-child(18), #jobsTable td:nth-child(18) {
    width: 13%;
}

/* dir */
#jobsTable th:nth-child(19), #jobsTable td:nth-child(19) {
    width: 3%;
}

/* dependencies */
#jobsTable th:nth-child(20), #jobsTable td:nth-child(20) {
    width: 8%;
}

/* name */
#workersTable th:nth-child(1), #workersTable td:nth-child(1) {
    width: 10%;
}

/* active */
#workersTable th:nth-child(2), #workersTable td:nth-child(2) {
    width: 4%;
}

/* state */
#workersTable th:nth-child(3), #workersTable td:nth-child(3) {
    width: 8%;
}

/* affinity */
#workersTable th:nth-child(4), #workersTable td:nth-child(4) {
    width: 10%;
}

/* ping_time */
#workersTable th:nth-child(5), #workersTable td:nth-child(5) {
    width: 10%;
}

/* cpu */
#workersTable th:nth-child(6), #workersTable td:nth-child(6) {
    width: 6%;
}

/* memory */
#workersTable th:nth-child(7), #workersTable td:nth-child(7) {
    width: 6%;
}

/* last_jobs */
#workersTable th:nth-child(8), #workersTable td:nth-child(8) {
    width: 5%;
}

/* finished */
#workersTable th:nth-child(9), #workersTable td:nth-child(9) {
    width: 5%;
}

/* error */
#workersTable th:nth-child(10), #workersTable td:nth-child(10) {
    width: 5%;
}

/* ip */
#workersTable th:nth-child(11), #workersTable td:nth-child(11) {
    width: 10%;
}

/* start */
#activitiesTable th:nth-child(1), #activitiesTable td:nth-child(1) {
    width: 12%;
}

/* job_id */
#activitiesTable th:nth-child(2), #activitiesTable td:nth-child(2) {
    width: 12%;
}

/* jobs_title */
#activitiesTable th:nth-child(3), #activitiesTable td:nth-child(3) {
    width: 12%;
}

/* state */
#activitiesTable th:nth-child(4), #activitiesTable td:nth-child(4) {
    width: 12%;
}

/* worker */
#activitiesTable th:nth-child(5), #activitiesTable td:nth-child(5) {
    width: 12%;
}

/* duration */
#activitiesTable th:nth-child(6), #activitiesTable td:nth-child(6) {
    width: 12%;
}

/* id */
#affinitiesTable th:nth-child(1), #affinitiesTable td:nth-child(1) {
    width: 5%;
}

/* name */
#affinitiesTable th:nth-child(2), #affinitiesTable td:nth-child(2) {
    width: 25%;
}

#affinitiesTable
{
    border-collapse: collapse;
    text-align: right;
}

#affinitiesTable td
{
    /*font-size: 8pt; */
    font-size: 0.9rem;
    text-align: center;
    color: #FFFFFF;
    border-right:1px solid black;
}

.entry, .entry0, .entry1, .title, .entry0Selected, .entry1Selected
{
    /*font-size: 8pt; */
    font-size: 0.9rem;
    color: #DDDDDD;
}

.title
{
    background-color: #666666;
    color: #EEEEEE;
    text-transform: capitalize;
}

.title a:link
{
    color: #EEEEEE;
    text-decoration: none;
}

.entry0
{
    background-color: #222222;
}

.entry1
{
    background-color: #303030;
}

.entry0Selected
{
    background-color: #444466;
}

.entry1Selected
{
    background-color: #555577;
}

.FINISHED, .PAUSED, .ERROR, .TIMEOUT, .WAITING, .WORKING, .PENDING, .STARTING, .TERMINATED, .ACTIVEtrue, .ACTIVEfalse, .ACTIVE1, .ACTIVE0
{
    text-align: center;
    color: White;
}

.FINISHED, .TERMINATED
{
    background-color: #009000;
}

.PAUSED
{
    background-color: #000090;
}

.PENDING, .STARTING
{
    background-color: #303060;
}

.ERROR, .TIMEOUT
{
    background-color: #900000;
}

.WORKING
{
    background-color: #009090;
}

.ACTIVEtrue, .ACTIVE1
{
    background-color: #009000;
}

.ACTIVEfalse, .ACTIVE0
{
    background-color: #900000;
}

.logs
{
    font-size: 0.9rem;
    /*font-size: 8pt; */
}

#main
{
    width: 100%;
    /*overflow: auto;*/
    /*position: fixed;*/
    /*bottom: 5px;*/
    /*top: 60px;*/
    /*left: 5px;*/
    /*right: 5px;*/
    background-color: #444444;
}

#header > div {
    margin: 0 1rem;
}

#maintitle
{
    /*display: inline;*/
    /*font-family: Verdana;*/
    text-transform: lowercase;
    /*margin-left: 5px;*/
}

#maintitle a
{
    color: #444444;
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
}

#subtitle {
    color: #444444;
    font-size: small;
    font-style: italic;
}

#subtitle a {
    color: #444444;
    font-weight: bold;
    text-decoration: none;
}

#subtitle p {
    margin: 0.1rem;
}

#tabs
{
    justify-content: flex-end;
    /*position: fixed;*/
    /*top: 35;*/
    /*height: 21;*/
    /*display: table-row;*/
    /*z-index: 1000;*/
    /*border-spacing: 5;*/
}

#tabs > .flex-row {
    justify-content: center;
}

#tabs li {
    list-style: none;
    text-decoration: none;
}

#tabs li a {
    text-decoration: none;
}

#tabs button {
    margin: 0 0.3rem;
    /*border-radius: 0.4rem 0.4rem 0 0;*/
    border-top: 1px solid #777777;
    border-right: 1px solid #222222;
    border-bottom: 1px solid transparent;
    border-left: 1px solid #777777;
    background-color: #333;
}

#tabs button:hover {
    border-top: 1px solid #777777;
    border-right: 1px solid #222222;
    border-bottom: 1px solid transparent;
    border-left: 1px solid #777777;
    background-color: #666;
    color: white;
}


#tabs button.activetab
{
    /*display: table-cell;*/
    /*padding-left : 10;*/
    /*padding-right : 10;*/
    /*padding: 0.5rem 1rem;*/
    background-color: #444;
    /*color: White;*/
    /*height:21;*/
    /*vertical-align: middle;*/
    /*border-top-style: 1px solid black;*/
    /*border-top-style: solid;*/
    /*border-top-color: Black;*/
    /*border-top-width: 1;*/
    /*border-left-style: solid;*/
    /*border-left-color: Black;*/
    /*border-left-width: 1;*/
    /*border-right-style: solid;*/
    /*border-right-color: Black;*/
    /*border-right-width: 1;*/
    /*cursor: pointer;*/
}

#tags button.unactivetab
{
    background-color: #333333;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#refreshtools label
{
    color: #444;
}

.refreshbutton, .refreshing
{
    /*display: inline;*/
    /*background-color: #DDDDDD;*/
    /*cursor: pointer;*/
    /*border: 1px solid black;*/
    /*padding: 0.4rem 1rem;*/
    /*margin: 0.2rem;*/
    /*position: fixed;*/
    /*width: 100;*/
    /*right: 5px;*/
    /*text-align: center;*/
    /*font-weight: bold;*/
    /*height: 50;*/
}

.refreshing
{
    background-color: #00F000;
}

#jobtools .button,
#jobtools .button label,
#jobtools .button select,
#workertools .button,
#logtools .button,
#activitiestools .button,
#affinitiestools .button
{
    cursor: pointer;
}

#jobtools,
#workertools,
#logtools,
#activitiestools,
#affinitiestools 
{
    color: #dddddd;
    padding: 0.5rem;
    justify-content: flex-end;
}

.button
{
    color: ghostwhite;
    padding: 0.1rem 1rem;
    margin: 0.2rem 0.3rem;
    background-color: #444;
    cursor: pointer;
    /*border-radius: 0.4rem;*/
    border-top: 1px solid #777777;
    border-right: 1px solid #222222;
    border-bottom: 1px solid #222222;
    border-left: 1px solid #777777;
    box-shadow: 1px 1px 1px #333; 
}

.button img {
    margin: 0 0.3rem;
}

button:hover
{
    background-color: #666;
    color: white;
}

.buttonSep
{
    /*display: inline;*/
    /*width: 10px;*/
}

#toolstable input,
#workertoolstable textarea,
tbody input {
    color: gray;
    background-color: #222;
}

#toolstable input:hover,
#workertoolstable textarea:hover,
tbody input:hover {
    color: black;
    background-color: #333;
}

#toolstable .flex-column {
    align-items: flex-end;
}

#toolstable label {
    flex-wrap: nowrap;
}

#toolstable label span {
    margin: 0 0.5rem;
}

#workertoolstable, #affinitytoolstable {
    justify-content: flex-end;
}

.ttr1
{
    width: 10%;
    font-size: small;
    color: White;
    text-align: right;
}
.ttr2
{
    width: 60%;
}
.ttr3
{
    width: 10%;
    font-size: small;
    color: White;
    text-align: right;
}
.ttr4
{
}
.ttedit
{
}

#toolbuttons
{
}

.toolbutton
{
}

.headerCell .flex-column {
    justify-content: flex-start;
    flex-grow: 1;
}

.loadbar
{
    background-color: #009000;
}

.loadlabel
{
    /*width: 100%;*/
    text-align: center;
    /*position: absolute;*/
    /*top: 1;*/
}

.load
{
    /*width: 100%;*/
    /*position: relative;*/
}

.membar
{
    /*height: 16;*/
    height: 1.4rem;
    background-color: #009000;
}

.memlabel
{
    /*width: 100%;*/
    text-align: center;
    /*position: absolute;*/
    /*top: 1;*/
}

.mem
{
    /*width: 100%;*/
    /*position: relative;*/
}

.progress
{
    height: inherit;
}

.lprogressbar
{
    height: inherit;
    background-color: #009000;
}

.gprogressbar
{
    background-color: #007000;
}

.progresslabel
{
    text-align: center;
    position: relative;
    top: -100%;
}

.worker_affinities
{
    white-space: pre;
}

#pagination {
    /*display:inline;*/
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-grow {
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.tab-content {
    width: inherit;
}

.job-sql-search-field {
    display: flex;
    flex-direction: row;
}

.job-sql-search-field input:hover,
.job-sql-search-field select:hover {
    background-color: #333;
}

#activitiestools label {
    margin: 0 1rem;
}
